<%- include('include/head.ejs') %>
</head>
<body>
    <%- include('include/navbar.ejs') %>
    <main>
        <div class="container">
            <h1><%= pageTitle %></h1>
            <form class="contact-form" action="/new-contact" method="post">
            <table class="form-control">
                <tr>
                    <td><label for="fNameField">First Name:</label></td>
                    <td><input type="text" name="fNameField" id="fNameField"></td>
                </tr>
                <tr>
                    <td><label for="lNameField">Last Name:</label></td>
                    <td><input type="text" name="lNameField" id="lNameField"></td>
                </tr>
                <tr>
                    <td><label for="phoneNumField">Phone Number:</label></td>
                    <td><input type="text" name="phoneNumField" id="phoneNumField"></td>
                </tr>
            </table>
            <button class="btn" type="submit">Add Contact</button>    
            </form>
        </div>

        <% if (showModal == true) 
        {%>
            <%- include ('include/modal.ejs') %>
        <%}%>    

        <%- include ('include/footer.ejs') %>
    </main>
<%- include('include/end.ejs') %>